Connected Services/NoteService/NoteController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNoteResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteNoteResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNoteSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNote" />
  </wsdl:message>
  <wsdl:message name="CreateNoteSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNoteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="NoteControllerSoap">
    <wsdl:operation name="CreateNote">
      <wsdl:input message="tns:CreateNoteSoapIn" />
      <wsdl:output message="tns:CreateNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input message="tns:DeleteNoteSoapIn" />
      <wsdl:output message="tns:DeleteNoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NoteControllerSoap" type="tns:NoteControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNote">
      <soap:operation soapAction="http://tempuri.org/CreateNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NoteControllerSoap12" type="tns:NoteControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNote">
      <soap12:operation soapAction="http://tempuri.org/CreateNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap12:operation soapAction="http://tempuri.org/DeleteNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NoteController">
    <wsdl:port name="NoteControllerSoap" binding="tns:NoteControllerSoap">
      <soap:address location="https://localhost:44318/NoteController.asmx" />
    </wsdl:port>
    <wsdl:port name="NoteControllerSoap12" binding="tns:NoteControllerSoap12">
      <soap12:address location="https://localhost:44318/NoteController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>